<?xml version="1.0" encoding="UTF-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example"
          android:versionCode="1"
          android:versionName="1.0">
    <supports-screens android:xlargeScreens="true"/>
    <uses-sdk android:maxSdkVersion="28"
              android:targetSdkVersion="28"
              android:minSdkVersion="19"/>
    <application android:label="App" android:name="android.support.multidex.MultiDexApplication">
        <activity android:label="App"
                  android:name="javafxports.android.FXActivity"
                  android:configChanges="orientation|screenSize">
            <meta-data android:name="main.class" android:value="com.example.App"/>
            <meta-data android:name="debug.port" android:value="0"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
