$roboto-light: (
    name: 'Roboto Light',
    path: '/com/example/Roboto-Light.ttf'
);

@font-face {
    font-family: map-get($roboto-light, name);
    src: url(map-get($roboto-light, path));
}

.root {
    -fx-alignment: center;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-padding: 16px;
}

.clockLabel,
.clock {
    -fx-font-family: map-get($roboto-light, name);
    -fx-font-size: 20px;
}

.clock {
    -fx-text-fill: red;
}
